<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            socket.emit('entities')
        });

        function save() {
            socket.emit('save_entity', {
                'device_id': new Date().getTime().toString(),
                'start_time': Date.now(),
                'location': {
                    'type': "Point",
                    'coordinates': [45, 45]
                }
            });
        }

        socket.on('entities', function (data) {
            list = document.getElementById("list");
            for (i in data) {
                item = document.createElement('li');
                item.innerHTML = data[i];
                list.appendChild(item);
            }
        });

        socket.on('entity', function (data) {
            list = document.getElementById("list");
            item = document.createElement('li');
            item.innerHTML = data;
            list.appendChild(item);
        });
    </script>
</head>
<body>
<button onclick="save()">save</button>
<ul id="list">
</ul>
</body>
</html>